<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add
      name="TWCDatabase"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB; 
      AttachDbFilename=C:\Users\callu\source\repos\SDV701\SDV701_Assignment_Stage_2\database\twc_database.mdf;
      Integrated Security=True;
      Connect Timeout=30; 
      Database=TWC_DATABASE.MDF"/>
  </connectionStrings>
  
</configuration>